<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://github.com/chrisrhymes/bulma-clean-theme" target="_blank">bulma-clean-theme</a></p>
            <p class="">京ICP备18002969号-1</p>
        </div>
    </div>
</footer>
