<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{'/assets/js/jquery-1.12.4.min.js' | relative_url}}"></script>
    <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
    <script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>
</head>