@charset "utf-8";

$family-sans-serif: Arial, 'Times New Roman', 'Microsoft YaHei', SimHei, “宋体”, sans-serif;
$primary: #188eac !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import "layout";
@import "syntax";