---
layout: default
title:  "Jason的所有文章"
---

<div class="home">

    {{ content }}

    <h1 class="page-heading">所有文章</h1>

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

</div>

<!--文章分页-->
{% include pagination.html %}